$font-stack: Lexend Deca-Regular, Helvetica

.headerFB
    background-color: grey
    text-align: center
    font-weight: bold 
    font-size: 20px
    font-family: "Lexend Deca-Regular", Helvetica
    position: relative
    padding-top: 20px 
    line-height: 4
    
    &__navbar
        display: flex
        justify-content: space-evenly
        margin-inline: 400px
        text-transform: uppercase
        cursor: pointer
        
        &__Btn
            color: green
            background: none
            -webkit-transition-duration: 0.4s
            font: 100% $font-stack
            &:hover
                color: green
                font: 100% $font-stack
        
        
.LoginCart
    position: relative
    width: auto
    display: flex
    justify-content: end
    margin-inline: 200px
    margin-right: 100px
    text-decoration: none
    color: #FEF9F0