.shop-header
    background: green
    text-align: center
    font-size: 20px
.Price
    font: Lexend Deca-Regular, Helvetica
    margin-right: 1200px
    margin-left: 10px 
    margin-top: 20px 
.Slider-price
    margin: 20px
    padding: 0px
    border-radius: 10px
    margin-bottom: 20px