.shop-header
    background: green
    text-align: center
    font-size: 20px
    
.Price
    font: Lexend Deca-Regular, Helvetica
    margin-right: 1400px
    margin-left: 10px 
    margin-top: 20px 
.Slider-price
    margin: 20px
    padding: 0px
    border-radius: 10px
    margin-bottom: 20px

.leftbar
    display: flex
    flex-direction: column
    align-items: flex-start
    align-content: cpace-between
    width: 20px
    padding-bottom: 10px
    