.shop-header
    background: green
    text-align: center
    font-size: 20px
    
.Price
    font: Lexend Deca-Regular, Helvetica
    margin-right: 1400px
    margin-left: 10px 
.Slider-price
    padding: 0px
    border-radius: 10px

.leftbar
    display: flex
    flex-direction: column
    align-items: flex-start
    align-content: cpace-between
    width: 20px
    padding-bottom: 10px
    
.Card
    width: 500px
    height: 500px
    background: blue
    padding-left: 500px