.dom 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Lexend Deca-Regular", Helvetica
    display: flex
    align-items: center
    justify-content: start
    
.header
    h2
        font-size: 24px
        font-weight: 600
    p
        margin-top: 5px
        font-size: 16px

.price-input
    width: 100%
    display: flex
    margin: 30px 0 35px